.container {
  max-width: 380px;
  text-align: center;
  padding: 20px;
}

.title {
  font-family: 'Elaine', sans-serif;
  color: var(--primary);
  font-size: 36px;
  display: block;
  margin-bottom: 12px;
}

.instruction {
  color: var(--secondary);
  font-size: 16px;
  line-height: 1.4;
}

.text {
  font-family: 'Azo Light', sans-serif;
  color: var(--secondary);
  font-size: 12px;
}

@media (min-width: 769px) {
  .container {
    max-width: 100%;
  }

  .title {
    font-size: 50px;
  }

  .instruction {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }
}

@media (min-width: 1028px) {
  .container {
    display: flex;
    text-align: left;
    gap: 32px;
  }

  .title {
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 80px;
  }

  .instruction {
    font-size: 24px;
  }

  .text {
    font-size: 20px;
  }
}
