.button {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  margin-top: 12px;
  height: 40px;
  min-width: 150px;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background: var(--button-hover);
}

@media (min-width: 769px) {
  .button {
    max-width: 160px;
    margin: 0;
  }
}
