@import './modern-normalize.css';

@font-face {
  font-family: 'Elaine';
  src: local('Elaine'), url(./fonts/Elaine_D02.ttf) format('truetype');
}

@font-face {
  font-family: 'Azo';
  src: local('Azo'), url(./fonts/Azo-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Azo Light';
  src: local('Azo Light'), url(./fonts/Azo-Sans-Light.ttf) format('truetype');
}
