@font-face {
    font-family: "Elaine";
    src: local("Elaine"), url(./fonts/Elaine_D02.ttf) format("truetype");
}

@font-face {
    font-family: "Azo";
    src: local("Azo"), url(./fonts/Azo-Sans.ttf) format("truetype");
}

@font-face {
    font-family: "Azo Light";
    src: local("Azo Light"), url(./fonts/Azo-Sans-Light.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #131020;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Azo, sans-serif;
    height: 100vh;
}
